*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  height: 100%;
}

#locations {
  height: 100%;
}

#map {
  position: absolute;
  right: 0;
}

.fullscreen {
  left: 0;
}

#menu-button {
  position: absolute;
  text-shadow: 1px 1px 0 hsl(261, 50%, 79%),
               1px -1px 0 hsl(261, 50%, 79%),
               -1px 1px 0 hsl(261, 50%, 79%),
               -1px -1px 0 hsl(261, 50%, 79%);
  z-index: 1;
}

#menu-button:hover {
  color: hsla(261, 94%, 50%, 1);
}

.opened {
  transform: rotate(0.5turn) scale(.8, 1) translate(0, -8px);
}

.closed {
  transform: scale(.8, 1);
}

@media screen and (max-width: 300px) {
  #map {
    bottom: 0;
    height: 100%;
  }

  .windowed {
    visibility: none;
  }

  #menu-button {
    font-size: 45px;
    top: 80px;
  }

  .opened {
    color: hsla(261, 94%, 50%, 1);
    left: 82%;
  }

  .closed {
    color: hsla(261, 94%, 50%, .8);
    left: 15px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  #map {
    bottom: 0;
    height: 100%;
  }

  .windowed {
    left: 82%;
  }

  #menu-button {
    font-size: 45px;
    top: 80px;
  }

  .opened {
    color: hsla(261, 94%, 50%, .95);
    left: 84%;
  }

  .closed {
    color: hsla(261, 94%, 50%, .8);
    left: 15px;
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  @media screen and (orientation: landscape) {
    #map {
      bottom: 0;
      height: 100%;
    }

    .windowed {
      left: 70%;
    }

    #menu-button {
      font-size: 50px;
      top: 80px;
    }

    .opened {
      color: hsla(261, 94%, 50%, .85);
      left: 74%;
    }

    .closed {
      color: hsla(261, 94%, 50%, .8);
      left: 18px;
    }
  }

  @media screen and (orientation: portrait) {
    #locations {
      height: 70%;
      left: 0;
      position: absolute;
      right: 0;
      bottom: 30%;
    }

    #map {
      left: 0;
      top: 0;
      width: 100%;
    }

    .fullscreen {
      bottom: 0;
    }

    .windowed {
      bottom: 70%;
    }

    #menu-button {
      font-size: 55px;
    }

    .opened {
      color: hsla(261, 94%, 50%, .85);
      bottom: calc(45px + 70%);
      left: 35px;
      transform: rotate(0.25turn) scale(.8, 1) translate(0, -8px);
    }

    .closed {
      color: hsla(261, 94%, 50%, .8);
      left: 35px;
      bottom: 45px;
      transform: rotate(-0.25turn) scale(.8, 1);
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
  @media screen and (orientation: landscape) {
    #map {
      bottom: 0;
      height: 100%;
    }

    .windowed {
      left: 425px;
    }

    #menu-button {
      font-size: 55px;
      top: 80px;
    }

    .opened {
      color: hsla(261, 94%, 50%, .8);
      left: 450px;
    }

    .closed {
      color: hsla(261, 94%, 50%, .75);
      left: 25px;
    }
  }

  @media screen and (orientation: portrait) {
    #locations {
      height: 60%;
      left: 0;
      position: absolute;
      right: 0;
      bottom: 40%;
    }

    #map {
      left: 0;
      top: 0;
      width: 100%;
    }

    .fullscreen {
      bottom: 0;
    }

    .windowed {
      bottom: 60%;
    }

    #menu-button {
      font-size: 68px;
    }

    .opened {
      color: hsla(261, 94%, 50%, .8);
      bottom: calc(50px + 60%);
      left: 45px;
      transform: rotate(0.25turn) scale(.8, 1) translate(0, -8px);
    }

    .closed {
      color: hsla(261, 94%, 50%, .75);
      left: 45px;
      bottom: 50px;
      transform: rotate(-0.25turn) scale(.8, 1);
    }
  }
}

@media screen and (min-width: 851px) {
  #map {
    bottom: 0;
    height: 100%;
  }

  .windowed {
    left: 450px;
  }

  #menu-button {
    font-size: 68px;
    top: 80px;
  }

  .opened {
    color: hsla(261, 94%, 50%, .8);
    left: 495px;
  }

  .closed {
    color: hsla(261, 94%, 50%, .7);
    left: 45px;
  }
}
