*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  height: 100%;
}

#locations {
  height: 100%;
}

#map {
  bottom: 0;
  height: 100%;
  left: 300px;
  position: absolute;
  right: 0;
}

#menu-button {
  color: hsla(261, 94%, 50%, .7);
  font-size: 68px;
  left: 325px;
  position: absolute;
  text-shadow: 1px 1px 0 hsl(261, 50%, 79%),
               1px -1px 0 hsl(261, 50%, 79%),
               -1px 1px 0 hsl(261, 50%, 79%),
               -1px -1px 0 hsl(261, 50%, 79%);
  top: 80px;
  transform: scale(.8, 1);
  z-index: 1;
}

#menu-button:hover {
  color: hsla(261, 94%, 50%, 1);
}
